<h1>Welcome to Kaze no Yado</h1>

<p>This is a Japanese-style hotel located in the heart of the city. We offer a range of rooms and amenities to make your stay comfortable and enjoyable.</p>

<h2>Sign up or Log in</h2>

<p>To make a booking, please sign up or log in below:</p>

<%= link_to "Sign up", new_user_registration_path %> |
<%= link_to "Log in", new_user_session_path %>

<h2>Browse Rooms</h2>

<p>Take a look at our available rooms:</p>

<%= link_to "Browse Rooms", rooms_path %>
